*{
    
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
    font-family: 'Gilroy';
    overflow-x: hidden;/*prevent scroll bar for whole page*/
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d1b1e;

}
/*----------------header-------------------------------*/
header {
    padding: 10px;
    color: #7798ab;
    text-align: center;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;

}
.logo img{
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}
.nav {
    display: flex;
}
.nav a:hover{
    cursor: pointer;
    color:#e9dcb9;
    background-color: #0d1b1e;
}
.nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 50px;
    font-size: 18px;
}
.menu-icon{
    display: none;
}
h1{
    display: flex;
    justify-content: center;
    color: #c3dbc5;
}



/* Responsive styles for header*/
@media screen and (max-width: 600px) {
    .nav {
        display: none;
    }

    .nav.active {
        display: block;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background-color:#e9dcb9 ;
    }

    .nav.active a {
        display: block;
        padding: 10px;
    }

    .menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .menu-icon.active {
        color:#e9dcb9;
    }
    
    
    .logo {
        margin-bottom: 10px;
    }
      
}
/*half page main*/
.container {
    background-image: url("./one.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.text{
    columns: white;
    flex: 1;
    padding: 20px;
}
h2{
    font-family: 'Lora';
    color: #c3dbc5;
    font-size:5vw ;
}
p{
    font-size: 20px;
}
@media screen and (max-width: 600px) {
    h1{
        font-size:25px;
    }
    h2{
        font-size: 30px;
    }
    

    .image, .button1{
        flex: 2;
    }
    .text{
        display: flex;
        justify-content: left;
    }
}


span{
    color: white;
}
/*footer design*/
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;

}
.social a{
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;

}
.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}
/* Responsive styles for footer*/
@media screen and (max-width: 600px) {
    .footer-links {
        flex-direction: column;
    }

    .footer-links a {
        margin: 5px 0;
    }
}
/*loading screen*/
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d1b1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999
}

.loading-text {
    color: #fff;
    font-size: 60px;
    margin-top: 20px;
}

.animation-container {
    position: relative;
    width: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/*making an image responsive */
.image {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .image {
        max-width: 100%;
    }
}
